SOA/businessCatalog/ComponentesIntegracion/FlujoPantalla/BpoImportador.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ComponentesIntegracion.FlujoPantalla.BpoImportador" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ComponentesIntegracion/FlujoPantalla/BpoImportador" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/ComponentesIntegracion/FlujoPantalla/BpoImportador"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BpoImportadorType">
        <xs:sequence>
            <xs:element name="direccionImportador" nillable="true" type="xs:string"/>
            <xs:element name="idImportador" nillable="true" type="xs:string"/>
            <xs:element name="idPaisImprotador" nillable="true" type="xs:string"/>
            <xs:element name="razonSocialImportador" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BpoImportador" type="BpoImportadorType"/>
</xs:schema>
