SOA/businessCatalog/ComponentesIntegracion/FlujoPantalla/BpoMostrarInformacion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ComponentesIntegracion.FlujoPantalla.BpoMostrarInformacion" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ComponentesIntegracion/FlujoPantalla/BpoMostrarInformacion" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/ComponentesIntegracion/FlujoPantalla/BpoMostrarInformacion"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BpoMostrarInformacionType">
        <xs:sequence>
            <xs:element name="direccionEjecutiva" nillable="true" type="xs:string"/>
            <xs:element name="expediente" nillable="true" type="xs:string"/>
            <xs:element name="servicio" nillable="true" type="xs:string"/>
            <xs:element name="solicitante" nillable="true" type="xs:string"/>
            <xs:element name="titulo" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BpoMostrarInformacion" type="BpoMostrarInformacionType"/>
</xs:schema>
