SOA/businessCatalog/ComponentesIntegracion/Bean/BpoAgenteAduana.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ComponentesIntegracion.Bean.BpoAgenteAduana" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ComponentesIntegracion/Bean/BpoAgenteAduana" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/ComponentesIntegracion/Bean/BpoAgenteAduana"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BpoAgenteAduanaType">
        <xs:sequence>
            <xs:element name="correoElectronico" nillable="true" type="xs:string"/>
            <xs:element name="departamento" nillable="true" type="xs:string"/>
            <xs:element name="distrito" nillable="true" type="xs:string"/>
            <xs:element name="dniRepresentanteLegal" nillable="true" type="xs:string"/>
            <xs:element name="domicilioLegal" nillable="true" type="xs:string"/>
            <xs:element name="idAgenteAduana" nillable="true" type="xs:string"/>
            <xs:element name="nombreRepresentanteLegal" nillable="true" type="xs:string"/>
            <xs:element name="provincia" nillable="true" type="xs:string"/>
            <xs:element name="razonSocial" nillable="true" type="xs:string"/>
            <xs:element name="ruc" nillable="true" type="xs:string"/>
            <xs:element name="telefono" nillable="true" type="xs:string"/>
            <xs:element name="telefonoMovil" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BpoAgenteAduana" type="BpoAgenteAduanaType"/>
</xs:schema>
