SOA/businessCatalog/ComponentesIntegracion/Bean/BpoConceptoPago.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ComponentesIntegracion.Bean.BpoConceptoPago" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ComponentesIntegracion/Bean/BpoConceptoPago" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/ComponentesIntegracion/Bean/BpoConceptoPago"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BpoConceptoPagoType">
        <xs:sequence>
            <xs:element name="cantidadPeso" nillable="true" type="xs:double"/>
            <xs:element name="codigoConcepto" nillable="true" type="xs:string"/>
            <xs:element name="montoAPagar" nillable="true" type="xs:double"/>
            <xs:element name="unidadMedida" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BpoConceptoPago" type="BpoConceptoPagoType"/>
</xs:schema>
