SOA/businessCatalog/ComponentesIntegracion/Bean/BpoPersona.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ComponentesIntegracion.Bean.BpoPersona" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ComponentesIntegracion/Bean/BpoPersona" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/ComponentesIntegracion/Bean/BpoPersona"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BpoPersonaType">
        <xs:sequence>
            <xs:element name="departamento" nillable="true" type="xs:string"/>
            <xs:element name="distrito" nillable="true" type="xs:string"/>
            <xs:element name="dniRepresentanteLegal" nillable="true" type="xs:string"/>
            <xs:element name="domicilioFiscal" nillable="true" type="xs:string"/>
            <xs:element name="email" nillable="true" type="xs:string"/>
            <xs:element name="idPersona" nillable="true" type="xs:string"/>
            <xs:element name="idTipoDocumento" nillable="true" type="xs:string"/>
            <xs:element name="montoSaldo" nillable="true" type="xs:double"/>
            <xs:element name="nombreRepresentanteLegal" nillable="true" type="xs:string"/>
            <xs:element name="numeroExpediente" nillable="true" type="xs:string"/>
            <xs:element name="provincia" nillable="true" type="xs:string"/>
            <xs:element name="razonSocial" nillable="true" type="xs:string"/>
            <xs:element name="resultadoCargarSaldo" nillable="true" type="xs:string"/>
            <xs:element name="rucDni" nillable="true" type="xs:string"/>
            <xs:element name="telefonoLocal" nillable="true" type="xs:string"/>
            <xs:element name="telefonoMovil" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BpoPersona" type="BpoPersonaType"/>
</xs:schema>
