SOA/Schemas/SeguridadWSDL.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://Servicios/" version="1.0" xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema">     <xs:element type="tns:cifrar" name="cifrar"/>     <xs:element type="tns:cifrarResponse" name="cifrarResponse"/>     <xs:element type="tns:descifrar" name="descifrar"/>     <xs:element type="tns:descifrarResponse" name="descifrarResponse"/>     <xs:complexType name="cifrar">         <xs:sequence>             <xs:element type="xs:string" minOccurs="0" name="valor"/>         </xs:sequence>     </xs:complexType>     <xs:complexType name="cifrarResponse">         <xs:sequence>             <xs:element type="xs:string" minOccurs="0" name="return"/>         </xs:sequence>     </xs:complexType>     <xs:complexType name="descifrar">         <xs:sequence>             <xs:element type="xs:string" minOccurs="0" name="valor"/>         </xs:sequence>     </xs:complexType>     <xs:complexType name="descifrarResponse">         <xs:sequence>             <xs:element type="xs:string" minOccurs="0" name="return"/>         </xs:sequence>     </xs:complexType> </xs:schema>