SOA/businessCatalog/ComponentesProcesos/BpoDocumentoUCM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ComponentesProcesos.BpoDocumentoUCM" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ComponentesProcesos/BpoDocumentoUCM" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/ComponentesProcesos/BpoDocumentoUCM"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BpoDocumentoUCMType">
        <xs:sequence>
            <xs:element name="documento" nillable="true" type="xs:base64Binary"/>
            <xs:element name="nombreDocumento" nillable="true" type="xs:string"/>
            <xs:element name="numeroCifrado" nillable="true" type="xs:string"/>
            <xs:element name="numeroDocumento" nillable="true" type="xs:string"/>
            <xs:element name="ucmid" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BpoDocumentoUCM" type="BpoDocumentoUCMType"/>
</xs:schema>
