SOA/businessCatalog/ComponentesProcesos/ImportacionFitosanitariaProducto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ComponentesProcesos.ImportacionFitosanitariaProducto" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ComponentesProcesos/ImportacionFitosanitariaProducto" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/ComponentesProcesos/ImportacionFitosanitariaProducto"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/ComponentesProcesos/Producto"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/ComponentesProcesos/Producto" schemaLocation="Producto.xsd"/>
    <xs:complexType name="ImportacionFitosanitariaProductoType">
        <xs:sequence>
            <xs:element name="cantidad" nillable="true" type="xs:double"/>
            <xs:element name="cantidadAnexo" nillable="true" type="xs:double"/>
            <xs:element name="cantidadPlantas" nillable="true" type="xs:double"/>
            <xs:element name="checkDetalles" nillable="true" type="xs:boolean"/>
            <xs:element name="checkEliminar" nillable="true" type="xs:boolean"/>
            <xs:element name="checkModificar" nillable="true" type="xs:boolean"/>
            <xs:element name="descPaisProcedencia" nillable="true" type="xs:string"/>
            <xs:element name="descTipoEnvase" nillable="true" type="xs:string"/>
            <xs:element name="descUnidadMedida" nillable="true" type="xs:string"/>
            <xs:element name="descUsoDestino" nillable="true" type="xs:string"/>
            <xs:element name="paisDestino" nillable="true" type="xs:string"/>
            <xs:element name="paisProcedencia" nillable="true" type="xs:string"/>
            <xs:element name="pesoNeto" nillable="true" type="xs:double"/>
            <xs:element name="pesoNetoAnexo" nillable="true" type="xs:double"/>
            <xs:element name="placaRodaje" nillable="true" type="xs:string"/>
            <xs:element name="producto" nillable="true" type="ns1:ProductoType"/>
            <xs:element name="tipoEnvase" nillable="true" type="xs:string"/>
            <xs:element name="ubicacionEnvio" nillable="true" type="xs:string"/>
            <xs:element name="unidadMaterialVegetativo" nillable="true" type="xs:string"/>
            <xs:element name="unidadMedida" nillable="true" type="xs:string"/>
            <xs:element name="unidades" nillable="true" type="xs:decimal"/>
            <xs:element name="usoDestino" nillable="true" type="xs:string"/>
            <xs:element name="variedadCultivar" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ImportacionFitosanitariaProducto" type="ImportacionFitosanitariaProductoType"/>
</xs:schema>
