SOA/businessCatalog/ComponentesProcesos/Producto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ComponentesProcesos.Producto" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ComponentesProcesos/Producto" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/ComponentesProcesos/Producto"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ProductoType">
        <xs:sequence>
            <xs:element name="categoriaRiesgo" nillable="true" type="xs:string"/>
            <xs:element name="codigoProducto" nillable="true" type="xs:string"/>
            <xs:element name="contieneAnexos" nillable="true" type="xs:boolean"/>
            <xs:element name="descripcion" nillable="true" type="xs:string"/>
            <xs:element name="esAnimalVivo" nillable="true" type="xs:boolean"/>
            <xs:element name="esCuarentenaPosentrada" default="false" nillable="true" type="xs:boolean"/>
            <xs:element name="nombreCientifico" nillable="true" type="xs:string"/>
            <xs:element name="partidaArancelaria" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Producto" type="ProductoType"/>
</xs:schema>
