SOA/businessCatalog/ComponentesProcesos/RequisitosImportacion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ComponentesProcesos.RequisitosImportacion" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ComponentesProcesos/RequisitosImportacion" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/ComponentesProcesos/RequisitosImportacion"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="RequisitosImportacionType">
        <xs:sequence>
            <xs:element name="clase" nillable="true" type="xs:string"/>
            <xs:element name="codigoRequisito" nillable="true" type="xs:string"/>
            <xs:element name="etiqueta" nillable="true" type="xs:string"/>
            <xs:element name="orden" nillable="true" type="xs:string"/>
            <xs:element name="requisitoFitosanitario" nillable="true" type="xs:string"/>
            <xs:element name="sangria" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RequisitosImportacion" type="RequisitosImportacionType"/>
</xs:schema>
