SOA/businessCatalog/ComponentesProcesos/Solicitante.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ComponentesProcesos.Solicitante" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ComponentesProcesos/Solicitante" elementFormDefault="qualified" xmlns:ns1="http://www.oracle.com/bpm/invalidTypes"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/ComponentesProcesos/Solicitante"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="SolicitanteType">
        <xs:sequence>
            <xs:element name="busquedaDistrito" nillable="true" type="ns1:missingType"/>
            <xs:element name="busquedaProvincia" nillable="true" type="ns1:missingType"/>
            <xs:element name="codigo" nillable="true" type="xs:string"/>
            <xs:element name="departamento" nillable="true" type="xs:string"/>
            <xs:element name="distrito" nillable="true" type="xs:string"/>
            <xs:element name="distritos" nillable="true" type="xs:string"/>
            <xs:element name="dniRepresentanteLegal" nillable="true" type="xs:string"/>
            <xs:element name="dniRuc" nillable="true" type="xs:string"/>
            <xs:element name="domicilioLegal" nillable="true" type="xs:string"/>
            <xs:element name="email" nillable="true" type="xs:string"/>
            <xs:element name="esAgenteAduanas" default="false" nillable="true" type="xs:boolean"/>
            <xs:element name="esImportador" default="false" nillable="true" type="xs:boolean"/>
            <xs:element name="fax" nillable="true" type="xs:string"/>
            <xs:element name="nombreDepartamento" nillable="true" type="xs:string"/>
            <xs:element name="nombreDistrito" nillable="true" type="xs:string"/>
            <xs:element name="nombreProvincia" nillable="true" type="xs:string"/>
            <xs:element name="nombreRazonSocial" nillable="true" type="xs:string"/>
            <xs:element name="nombreRepresentanteLegal" nillable="true" type="xs:string"/>
            <xs:element name="provincia" nillable="true" type="xs:string"/>
            <xs:element name="provincias" nillable="true" type="xs:string"/>
            <xs:element name="telefono" nillable="true" type="xs:string"/>
            <xs:element name="telefonoMovil" nillable="true" type="xs:string"/>
            <xs:element name="tipoDocumento" nillable="true" type="xs:string"/>
            <xs:element name="urbanizacion" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Solicitante" type="SolicitanteType"/>
</xs:schema>
